
{% load static %}

<html>

<head>
    <title>Dashboard | Bear App</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
{% include "bear/account-navbar.html" %}
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

    <a class="navbar-brand main-heading" href="{% url '' %}">&nbsp;Bear App
    </a>
  </nav> -->
<br><br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h2>Dashboard</h2>
    <br>
    <hr>
    Welcome, {{user}}
    <br><br>

    <!-- <img style="width: 100px;" src="{% static 'images/default.png' %}/"/> -->
    <img style="width: 100px;" src="{{ profilePic.profile_pic.url }}"/>
    
    <br><br>

</div>



<script src="{% static 'js/app.js' %}"> </script>

</html>

